<div>
    <PageHeader />
    <main class="ly_article">
        <div class="ly_article_inner">
            <div class="ly_serach_article">
                <div class="bl_article_title">
                    <span>Search</span>
                </div>
                <div class="bl_search_article">
                    <div class="el_search_box">
                        <div class="bl_serach_keyword">
                            <div class="bl_search_box_title">
                                <span>キーワード</span>
                            </div>
                            <div class="bl_search_keyword_input">
                                <div class="bl_article_input">
                                    <div class="el_article_input">
                                        <input class="el_article_input_box" type="text" name="keyword" id="keyword"
                                            placeholder="" v-model="keyword">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="bl_search_btn">
                            <div class="el_search_btn" @click="search_article">
                                <span class="el_search_btn_name">
                                    <i class="fas fa-search"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ly_article_content">
                <div class="bl_article_title">
                    <span>記事</span>
                </div>
                <div class="ly_article_list">
                    <div class="ly_posted_article_list">
                        <template v-for="article in articles">
                            <MediaCardLarge :article=article></MediaCardLarge>
                        </template>
                    </div>
                    <div class="pagination__wrapper">
                        <Pagenation :pages="posted_article_pages"/>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <PageFooter />
</div>