<main class="ly_main">
    <div class="ly_main_inner">
        <div class="ly_logo">
            <div class="bl_logo bl_logo__medium">
                <img src="/public/img/logo.png" alt="ロゴ" title="ロゴ">
            </div>
        </div>
        <div class="ly_title">
            <div class="bl_title">
                <div class="el_icon">
                    <img class="el_icon_user" src="/public/svg/user-solid.svg">
                </div>
                <div class="el_title">
                    <span>アカウント登録</span>
                </div>
            </div>
        </div>
        <div class="ly_form">
            <div class="ly_form_inner">
                <div class="bl_input">
                    <div class="el_input">
                        <div class="el_input_title">
                            <span>メールアドレス</span>
                        </div>
                        <div>
                            <input class="el_input_box" type="text" name="email" id="email" placeholder=""
                                v-model="email">
                        </div>
                    </div>
                </div>
                <div class="bl_input">
                    <div class="el_input">
                        <div class="el_input_title">
                            <span>パスワード</span>
                            <div>
                                <span class="sub_title">
                                    (英大小文字、数値を入れて8文字以上)
                                </span>
                            </div>
                        </div>
                        <div>
                            <input class="el_input_box" :type="visible_password_type" name="password" id="password"
                                placeholder="" v-model="password">
                            <span class="field-icon" v-show="visible_password"
                                @click="visible_password = !visible_password">
                                <i class="far fa-eye"></i>
                            </span>
                            <span class="field-icon" v-show="!visible_password"
                                @click="visible_password = !visible_password">
                                <i class="far fa-eye-slash"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="bl_input">
                    <div class="el_input">
                        <div class="el_input_title">
                            <span>パスワード再入力</span>
                        </div>
                        <div>
                            <input class="el_input_box" :type="visible_password_confirm_type" name="password_confirm"
                                id="password_confirm" placeholder="" v-model="password_confirm">
                            <span class="field-icon" v-show="visible_password_confirm"
                                @click="visible_password_confirm = !visible_password_confirm">
                                <i class="far fa-eye"></i>
                            </span>
                            <span class="field-icon" v-show="!visible_password_confirm"
                                @click="visible_password_confirm = !visible_password_confirm">
                                <i class="far fa-eye-slash"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="bl_btn">
                    <div class="el_btn" @click="create_account">
                        <span class="el_btn_name">登録</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>