<div>
    <PageHeader />
    <main class="ly_menu">
        <div class="ly_menu_inner">
            <div class="ly_search_question">
                <div class="bl_question_title">
                    <span>Search</span>
                </div>
                <div class="bl_search_question">
                    <div class="el_search_box">
                        <div class="bl_search_select_box">
                            <div class="bl_search_box_title">
                                <span>カテゴリ</span>
                            </div>
                            <div class="bl_search_select_box_list">
                                <template v-for="(category, index) in categories">
                                    <div class="el_search_select_box">
                                        <input class="el_search_select_btn" type="checkbox" :id="index"
                                            :value="category.id" v-model="checked_categories"/>
                                        <label class="btn-sticky" :for="index">{{ category.name }}</label>
                                    </div>
                                </template>
                            </div>
                        </div>
                        <div class="bl_serach_keyword">
                            <div class="bl_search_box_title">
                                <span>キーワード</span>
                            </div>
                            <div class="bl_search_keyword_input">
                                <div class="bl_question_input">
                                    <div class="el_question_input">
                                        <input class="el_question_input_box" type="text" name="keyword" id="keyword"
                                            placeholder="" v-model="keyword">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="bl_search_btn">
                            <div class="el_search_btn" @click="search_menus">
                                <span class="el_search_btn_name">
                                    <i class="fas fa-search"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ly_question_content">
                <div class="bl_question_title">
                    <span>献立</span>
                </div>
                <div class="ly_menu_list">
                    <div class="ly_posted_menu_list">
                        <div v-for="menu in menus">
                            <MediaCard :menu="menu"></MediaCard>
                        </div>
                    </div>
                    <div class="pagination__wrapper">
                        <Pagenation :pages="posted_menu_pages"/>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <PageFooter />
</div>