<v-app>
    <div class="ly_post_menu_title">
        <div class="bl_post_menu_title">
            <div class="el_menu_title">
                <span>献立名</span>
                <v-text-field label="" class="el_menu_title_text" v-model="title"></v-text-field>
            </div>
        </div>
        <div class="ly_post_menu_sub_title">
            <div class="ly_post_menu_sub_title_inner">
                <v-textarea label="キャッチコピー" v-model="sub_title" rows="1" counter=200></v-textarea>
            </div>
        </div>
        <div class="bl_post_menu_title">
            <div class="bl_post_menu_category">
                <v-select :items="categories" item-text="name" item-value="id" label="カテゴリ" v-model="category">
                </v-select>
            </div>
        </div>
        <div class="bl_post_menu_thumb">
            <v-img v-if="thumb_image_url" :src="thumb_image_url" max-height="229" contain />
            <v-file-input v-model="thumb_input_image" accept="image/*" label="サムネイル画像を選択" @change="onThumbPicked"
                prepend-icon="fas fa-camera"></v-file-input>
        </div>
    </div>
    <div class="el_food_composition">
        <v-data-table :headers="headers" :items.sync="compositions" hide-default-footer :loading="loading"
            loading-text="Loading... Please wait" :items-per-page="50">
            <!-- 使用量ヘッダ -->
            <template v-slot:header.amount="{ header }">
                <div class="el_food_composition_header">
                    <span>{{ header.text }}</span>
                </div>
                <div class="el_food_composition_header_unit">
                    <span>(g)</span>
                </div>
            </template>
            <!-- 廃棄込み使用量ヘッダ -->
            <template v-slot:header.waste="{ header }">
                <div class="el_food_composition_header">
                    <span>{{ header.text }}</span>
                </div>
                <div class="el_food_composition_header_unit">
                    <span>(g)</span>
                </div>
            </template>
            <!-- エネルギーヘッダ -->
            <template v-slot:header.energy="{ header }">
                <div class="el_food_composition_header">
                    <span>{{ header.text }}</span>
                </div>
                <div class="el_food_composition_header_unit">
                    <span>(kcal)</span>
                </div>
            </template>
            <!-- たんぱく質ヘッダ -->
            <template v-slot:header.protein="{ header }">
                <div class="el_food_composition_header">
                    <span>{{ header.text }}</span>
                </div>
                <div class="el_food_composition_header_unit">
                    <span>(g)</span>
                </div>
            </template>
            <!-- 脂質ヘッダ -->
            <template v-slot:header.lipid="{ header }">
                <div class="el_food_composition_header">
                    <span>{{ header.text }}</span>
                </div>
                <div class="el_food_composition_header_unit">
                    <span>(g)</span>
                </div>
            </template>
            <!-- 炭水化物ヘッダ -->
            <template v-slot:header.carbohydrate="{ header }">
                <div class="el_food_composition_header">
                    <span>{{ header.text }}</span>
                </div>
                <div class="el_food_composition_header_unit">
                    <span>(g)</span>
                </div>
            </template>
            <!-- カルシウムヘッダ -->
            <template v-slot:header.calcium="{ header }">
                <div class="el_food_composition_header">
                    <span>{{ header.text }}</span>
                </div>
                <div class="el_food_composition_header_unit">
                    <span>(mg)</span>
                </div>
            </template>
            <!-- 鉄ヘッダ -->
            <template v-slot:header.iron="{ header }">
                <div class="el_food_composition_header">
                    <span>{{ header.text }}</span>
                </div>
                <div class="el_food_composition_header_unit">
                    <span>(mg)</span>
                </div>
            </template>
            <!-- コレステロールヘッダ -->
            <template v-slot:header.cholesterol="{ header }">
                <div class="el_food_composition_header">
                    <span>{{ header.text }}</span>
                </div>
                <div class="el_food_composition_header_unit">
                    <span>(mg)</span>
                </div>
            </template>
            <!-- 食物繊維ヘッダ -->
            <template v-slot:header.dietaryFiber="{ header }">
                <div class="el_food_composition_header">
                    <span>{{ header.text }}</span>
                </div>
                <div class="el_food_composition_header_unit">
                    <span>(g)</span>
                </div>
            </template>
            <!-- 食塩相当量ヘッダ -->
            <template v-slot:header.saltEquivalent="{ header }">
                <div class="el_food_composition_header">
                    <span>{{ header.text }}</span>
                </div>
                <div class="el_food_composition_header_unit">
                    <span>(g)</span>
                </div>
            </template>

            <!-- 材料項目 -->
            <template v-slot:item.material="props">
                <v-edit-dialog v-if="props.item.material.length == 0">
                    <div></div>
                    <template v-slot:input>
                        <v-autocomplete :items="material_items" label="Select" single-line item-text="name"
                            v-on:change='materialChange' v-on:click='materialClick(props.index)' return-object>
                        </v-autocomplete>
                    </template>
                </v-edit-dialog>
                <v-edit-dialog>
                    <div>
                        {{ props.item.material }}
                    </div>
                    <template v-slot:input>
                        <v-autocomplete :items="material_items" label="Select" single-line item-text="name"
                            v-on:change='materialChange' v-on:click='materialClick(props.index)' return-object>
                        </v-autocomplete>
                    </template>
                </v-edit-dialog>
            </template>
            <!-- 使用量項目 -->
            <template v-slot:item.amount="props">
                <v-edit-dialog @open="amountClick(props.index)" @save="amountChange(props.item.amount)">
                    <div>{{ props.item.amount }}</div>
                    <template v-slot:input>
                        <v-text-field v-model="props.item.amount" type="number" label="Edit" single-line>
                        </v-text-field>
                    </template>
                </v-edit-dialog>
            </template>
            <template v-slot:body.append>
                <tr class="">
                    <td class="text-center title">Total</td>
                    <td class="text-center">-</td>
                    <td class="text-center">-</td>
                    <td class="text-center">{{ energy_total }}</td>
                    <td class="text-center">{{ protein_total }}</td>
                    <td class="text-center">{{ lipid_total }}</td>
                    <td class="text-center">{{ carbohydrate_total }}</td>
                    <td class="text-center">{{ calcium_total }}</td>
                    <td class="text-center">{{ iron_total }}</td>
                    <td class="text-center">{{ cholesterol_total }}</td>
                    <td class="text-center">{{ dietaryFiber_total }}</td>
                    <td class="text-center">{{ saltEquivalent_total }}</td>
                </tr>
            </template>
        </v-data-table>
        <div class="bl_btn__center">
            <button class="el_add_btn" @click="add_material">
                <span><i class="fas fa-plus"></i>追加</span>
            </button>
        </div>
    </div>
    <div class="ly_post_menu_create_method">
        <div class="bl_post_menu_create_method">
            <div>
                <span>作り方</span>
            </div>
        </div>
        <div class="bl_post_menu_create_method_input">
            <textarea v-model="cookery"></textarea>
        </div>
        <div class="ly_post_menu_img">
            <div class="bl_post_menu_img" v-for="(img, index) in menu_imgs">
                <v-img v-if="img.uploadImageUrl" :src="img.uploadImageUrl" max-height="150" max-width="250" contain />
                <v-file-input :id="'menu_img_' + index" v-model="img.input_image" accept="image/*" label="画像を選択"
                    @change="onImagePicked" @click="selectImage(index)"></v-file-input>
                <div class="bl_post_menu_img_title">
                    <input type="text" placeholder="画像の説明" v-model="img.img_description">
                </div>
            </div>
            <div class="bl_post_menu_add_img" @click="add_menu_img">
                <span><i class="fas fa-plus"></i></span>
            </div>
        </div>
    </div>
    <div class="ly_post_menu_btn">
        <div class="bl_post_menu_btn">
            <div class="bl_post_btn">
                <div class="btn btn__success" @click="post_menu(true)">投稿</div>
            </div>
            <div class="bl_post_btn">
                <div class="btn btn__status" @click="post_menu(false)">保存</div>
            </div>
            <div class="bl_post_btn">
                <div class="btn btn__error" @click="delete_menu">削除</div>
            </div>
        </div>
    </div>
</v-app>