<div>
    <PageHeader />
    <News />
    <main>
        <div class="ly_question">
            <div class="ly_question_inner">
                <div class="ly_posted_question">
                    <div class="bl_posted_question">
                        <div class="bl_question_posted_user">
                            <div class="bl_user_icon">
                                <div class="el_user_icon_circle el_user_icon_circle__small" :style="user_icon">
                                </div>
                            </div>
                            <div class="bl_user_info">
                                <div class="bl_user_info_name">{{ user_name }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="bl_posted_question_contents">
                        <div class="cp_container">
                            <span>{{ contents }}</span>
                        </div>
                        <v-img v-if="question_img_url" :src="question_img_url" max-height="150" max-width="250"
                            contain />
                    </div>
                </div>
                <div class="ly_posted_question" v-if="best_answer.exist">
                    <div class="bl_question_title">
                        <span class="el_icon_crown"><i class="fas fa-crown"></i></span><span>ベストアンサー</span>
                    </div>
                    <div class="cp_box">
                        <div class="bl_posted_question">
                            <div class="bl_question_posted_user">
                                <div class="bl_user_icon">
                                    <div class="el_user_icon_circle el_user_icon_circle__small"
                                        :style="best_answer_contents.user_icon">
                                    </div>
                                </div>
                                <div class="bl_user_info">
                                    <div class="bl_user_info_name">{{ best_answer_contents.user_name }}</div>
                                </div>
                            </div>
                        </div>
                        <input id="cp01" type="checkbox">
                        <label for="cp01"></label>
                        <div class="cp_container">
                            <span>{{ best_answer_contents.contents }}</span>
                            <v-img v-if="best_answer_contents.img" :src="best_answer_contents.img" max-height="150"
                                max-width="250" contain />
                        </div>
                    </div>
                </div>
                <div class="ly_posted_question" v-if="best_answer.exist">
                    <div class="bl_question_title">
                        <span>その他の回答</span>
                    </div>
                    <template v-for="(answer, index) in answers">
                        <div class="cp_box">
                            <div class="bl_posted_question">
                                <div class="bl_question_posted_user">
                                    <div class="bl_user_icon">
                                        <div class="el_user_icon_circle el_user_icon_circle__small"
                                            :style="answer.user_icon">
                                        </div>
                                    </div>
                                    <div class="bl_user_info">
                                        <div class="bl_user_info_name">{{ answer.user_name }}</div>
                                    </div>
                                    <div class="bl_best_answer_btn" v-if="mine">
                                        <span><i class="fas fa-crown"></i></span>ベストアンサーに選ぶ
                                    </div>
                                </div>
                            </div>
                            <input :id="'cp' + index" type="checkbox">
                            <label :for="'cp' + index"></label>
                            <div class="cp_container">
                                <span>{{ answer.contents }}</span>
                                <v-img v-if="answer.img" :src="answer.img" max-height="150" max-width="250" contain />
                            </div>
                        </div>
                    </template>
                </div>
                <div class="ly_posted_question" v-if="!best_answer.exist">
                    <div class="bl_question_title">
                        <span>回答一覧</span>
                    </div>
                    <template v-for="(answer, index) in answers">
                        <div class="cp_box">
                            <div class="bl_posted_question">
                                <div class="bl_question_posted_user">
                                    <div class="bl_user_icon">
                                        <div class="el_user_icon_circle el_user_icon_circle__small"
                                            :style="answer.user_icon">
                                        </div>
                                    </div>
                                    <div class="bl_user_info">
                                        <div class="bl_user_info_name">{{ answer.user_name }}</div>
                                    </div>
                                    <div class="bl_best_answer_btn" v-if="mine" @click="decide_best_answer(answer)">
                                        <span><i class="fas fa-crown"></i></span>ベストアンサーに選ぶ
                                    </div>
                                </div>
                            </div>
                            <input :id="'cp' + index" type="checkbox">
                            <label :for="'cp' + index"></label>
                            <div class="cp_container">
                                <span>{{ answer.contents }}</span>
                                <v-img v-if="answer.img" :src="answer.img" max-height="150" max-width="250" contain />
                            </div>
                        </div>
                    </template>
                </div>
                <div class="ly_posted_question" v-if="!best_answer.exist">
                    <div class="bl_question_title">
                        <span class="el_icon_edit"><i class="fas fa-edit"></i></span><span>回答</span>
                    </div>
                    <div class="cp_box">
                        <div class="bl_posted_question" v-if="is_auth">
                            <div class="bl_question_posted_user">
                                <div class="bl_user_icon">
                                    <div class="el_user_icon_circle el_user_icon_circle__small" :style="answer_user_icon">
                                    </div>
                                </div>
                                <div class="bl_user_info">
                                    <div class="bl_user_info_name">{{ answer_user_name }}</div>
                                </div>
                            </div>
                        </div>
                        <div class="bl_post_question_answer" v-if="is_auth">
                            <textarea v-model="answer_contents"></textarea>
                        </div>
                        <div class="bl_post_question_img" v-if="is_auth">
                            <v-img v-if="uploadImageUrl" :src="uploadImageUrl" max-height="150" max-width="250"
                                contain />
                            <v-file-input v-model="input_image" accept="image/*" label="画像を選択" @change="onImagePicked"
                                prepend-icon="fas fa-camera"></v-file-input>
                        </div>
                        <div class="bl_post_question_btn">
                            <div class="bl_post_btn" @click="post_answer">
                                <div class="btn btn__success">回答する</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <PageFooter />
</div>