<div class="template-wrapper">
  <PageHeader />
  <News />
  <main class="ly_top">
    <div class="ly_top_inner">
      <div class="ly_recommend_article">
        <div class="ly_recommend_article_inner">
          <div class="bl_recommend_article">
            <img src="../../../public/img/recommend_1.jpg">
          </div>
        </div>
      </div>
      <div class="ly_recent_menu">
        <div class="ly_recent_menu_inner">
          <div class="bl_top_title">
            <span class="el_asterisk">＊</span>
            新着献立
            <span class="el_asterisk">＊</span>
          </div>
          <div class="ly_recent_menu_items">
            <div class="bl_recent_menu">
              <div class="el_menu">
                <div class="el_menu_img el_menu_img_large">
                  <img src="../../../public/img/menu_no_image.jpg">
                  <!-- 豚肉の生姜焼き、ほうれん草の胡麻和え、味噌汁-->
                </div>
                <div class="el_menu_title el_menu_title__large">
                  <span>豚肉の生姜焼き、ほうれん草の胡麻和え、味噌汁</span>
                </div>
              </div>
              <div class="el_menu">
                <div class="el_menu_img el_menu_img_large">
                  <img src="../../../public/img/menu_no_image.jpg">
                  <!-- 豚肉の生姜焼き、ほうれん草の胡麻和え、味噌汁-->
                </div>
                <div class="el_menu_title el_menu_title__large">
                  <span>豚肉の生姜焼き、ほうれん草の胡麻和え、味噌汁</span>
                </div>
              </div>
              <div class="el_menu">
                <div class="el_menu_img el_menu_img_large">
                  <img src="../../../public/img/menu_no_image.jpg">
                  <!-- 豚肉の生姜焼き、ほうれん草の胡麻和え、味噌汁-->
                </div>
                <div class="el_menu_title el_menu_title__large">
                  <span>豚肉の生姜焼き、ほうれん草の胡麻和え、味噌汁</span>
                </div>
              </div>
              <div class="el_menu">
                <div class="el_menu_img el_menu_img_large">
                  <img src="../../../public/img/menu_no_image.jpg">
                  <!-- 豚肉の生姜焼き、ほうれん草の胡麻和え、味噌汁-->
                </div>
                <div class="el_menu_title el_menu_title__large">
                  <span>豚肉の生姜焼き、ほうれん草の胡麻和え、味噌汁</span>
                </div>
              </div>
              <div class="el_menu">
                <div class="el_menu_img el_menu_img_large">
                  <img src="../../../public/img/menu_no_image.jpg">
                  <!-- 豚肉の生姜焼き、ほうれん草の胡麻和え、味噌汁-->
                </div>
                <div class="el_menu_title el_menu_title__large">
                  <span>豚肉の生姜焼き、ほうれん草の胡麻和え、味噌汁</span>
                </div>
              </div>
              <div class="el_menu">
                <div class="el_menu_img el_menu_img_large">
                  <img src="../../../public/img/menu_no_image.jpg">
                  <!-- 豚肉の生姜焼き、ほうれん草の胡麻和え、味噌汁-->
                </div>
                <div class="el_menu_title el_menu_title__large">
                  <span>豚肉の生姜焼き、ほうれん草の胡麻和え、味噌汁</span>
                </div>
              </div>
              <div class="el_menu">
                <div class="el_menu_img el_menu_img_large">
                  <img src="../../../public/img/menu_no_image.jpg">
                  <!-- 豚肉の生姜焼き、ほうれん草の胡麻和え、味噌汁-->
                </div>
                <div class="el_menu_title el_menu_title__large">
                  <span>豚肉の生姜焼き、ほうれん草の胡麻和え、味噌汁</span>
                </div>
              </div>
              <div class="el_menu">
                <div class="el_menu_img el_menu_img_large">
                  <img src="../../../public/img/menu_no_image.jpg">
                  <!-- 豚肉の生姜焼き、ほうれん草の胡麻和え、味噌汁-->
                </div>
                <div class="el_menu_title el_menu_title__large">
                  <span>豚肉の生姜焼き、ほうれん草の胡麻和え、味噌汁</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ly_popular_menu">
        <div class="ly_popular_menu_inner">
          <div class="bl_top_title">
            <span class="el_asterisk">＊</span>
            人気献立
            <span class="el_asterisk">＊</span>
          </div>
          <div class="ly_popular_menu_items">
            <div class="bl_popular_menu">
              <div class="el_menu">
                <div class="el_menu_img el_menu_img_large">
                  <img src="../../../public/img/menu_no_image.jpg">
                  <!-- 豚肉の生姜焼き、ほうれん草の胡麻和え、味噌汁-->
                </div>
                <div class="el_menu_title el_menu_title__large">
                  <span>豚肉の生姜焼き、ほうれん草の胡麻和え、味噌汁</span>
                </div>
              </div>
              <div class="el_menu">
                <div class="el_menu_img el_menu_img_large">
                  <img src="../../../public/img/menu_no_image.jpg">
                  <!-- 豚肉の生姜焼き、ほうれん草の胡麻和え、味噌汁-->
                </div>
                <div class="el_menu_title el_menu_title__large">
                  <span>豚肉の生姜焼き、ほうれん草の胡麻和え、味噌汁</span>
                </div>
              </div>
              <div class="el_menu">
                <div class="el_menu_img el_menu_img_large">
                  <img src="../../../public/img/menu_no_image.jpg">
                  <!-- 豚肉の生姜焼き、ほうれん草の胡麻和え、味噌汁-->
                </div>
                <div class="el_menu_title el_menu_title__large">
                  <span>豚肉の生姜焼き、ほうれん草の胡麻和え、味噌汁</span>
                </div>
              </div>
              <div class="el_menu">
                <div class="el_menu_img el_menu_img_large">
                  <img src="../../../public/img/menu_no_image.jpg">
                  <!-- 豚肉の生姜焼き、ほうれん草の胡麻和え、味噌汁-->
                </div>
                <div class="el_menu_title el_menu_title__large">
                  <span>豚肉の生姜焼き、ほうれん草の胡麻和え、味噌汁</span>
                </div>
              </div>
              <div class="el_menu">
                <div class="el_menu_img el_menu_img_large">
                  <img src="../../../public/img/menu_no_image.jpg">
                  <!-- 豚肉の生姜焼き、ほうれん草の胡麻和え、味噌汁-->
                </div>
                <div class="el_menu_title el_menu_title__large">
                  <span>豚肉の生姜焼き、ほうれん草の胡麻和え、味噌汁</span>
                </div>
              </div>
              <div class="el_menu">
                <div class="el_menu_img el_menu_img_large">
                  <img src="../../../public/img/menu_no_image.jpg">
                  <!-- 豚肉の生姜焼き、ほうれん草の胡麻和え、味噌汁-->
                </div>
                <div class="el_menu_title el_menu_title__large">
                  <span>豚肉の生姜焼き、ほうれん草の胡麻和え、味噌汁</span>
                </div>
              </div>
              <div class="el_menu">
                <div class="el_menu_img el_menu_img_large">
                  <img src="../../../public/img/menu_no_image.jpg">
                  <!-- 豚肉の生姜焼き、ほうれん草の胡麻和え、味噌汁-->
                </div>
                <div class="el_menu_title el_menu_title__large">
                  <span>豚肉の生姜焼き、ほうれん草の胡麻和え、味噌汁</span>
                </div>
              </div>
              <div class="el_menu">
                <div class="el_menu_img el_menu_img_large">
                  <img src="../../../public/img/menu_no_image.jpg">
                  <!-- 豚肉の生姜焼き、ほうれん草の胡麻和え、味噌汁-->
                </div>
                <div class="el_menu_title el_menu_title__large">
                  <span>豚肉の生姜焼き、ほうれん草の胡麻和え、味噌汁</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ly_articles">
        <div class="ly_articles_inner">
          <div class="bl_top_title">
            <span class="el_asterisk">＊</span>
            <span>記事</span>
            <span class="el_asterisk">＊</span>
          </div>
          <div class="ly_article_items">
            <div class="bl_new_article">
              <div class="el_new_article">
                <div class="el_new_icon">
                  <span>\NEW/</span>
                </div>
                <div class="el_atricle_item">
                  <div class="el_article_item_img el_article_item_img__large">
                    <img src="../../../public/img/recommend_3.jpg">
                  </div>
                  <div class="bl_article_media">
                    <div class="el_article_item_title">
                      <span>記事のタイトル記事のタイトル記事のタイトル記事の…</span>
                    </div>
                    <div class="el_article_item_detail">
                      <span>記事の詳細記事の詳細記事の詳細記事の詳細記事の詳細記事の詳細記事の詳細記事の詳細記事の詳細記事の詳細記事の詳細記事の詳細記事の詳細記事の詳細記事の詳細記事の詳細記事の詳細記事の詳細記事の詳細記事の詳細記事の詳細記事の詳細記事の詳細記事の詳細…</span>
                    </div>
                    <div class="el_article_item_meta_info">
                      <div class="el_article_item_meta_info_date">
                        <span>2021/01/29</span>
                      </div>
                      <div class="el_article_item_meta_info_user">
                        <div class="el_user_icon_circle el_user_icon_circle__small">
                          <!--<img src="../../../public/img/user_1.jpg">-->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="el_new_article">
                <div class="el_new_icon">
                  <span>\NEW/</span>
                </div>
                <div class="el_atricle_item">
                  <div class="el_article_item_img el_article_item_img__large">
                    <img src="../../../public/img/recommend_3.jpg">
                  </div>
                  <div class="bl_article_media">
                    <div class="el_article_item_title">
                      <span>記事のタイトル記事のタイトル記事のタイトル記事の…</span>
                    </div>
                    <div class="el_article_item_detail">
                      <span>記事の詳細記事の詳細記事の詳細記事の詳細記事の詳細記事の詳細記事の詳細記事の詳細記事の詳細記事の詳細記事の詳細記事の詳細記事の詳細記事の詳細記事の詳細記事の詳細記事の詳細記事の詳細記事の詳細記事の詳細記事の詳細記事の詳細記事の詳細記事の詳細…</span>
                    </div>
                    <div class="el_article_item_meta_info">
                      <div class="el_article_item_meta_info_date">
                        <span>2021/01/29</span>
                      </div>
                      <div class="el_article_item_meta_info_user">
                        <div class="el_user_icon_circle el_user_icon_circle__small">
                          <!--<img src="../../../public/img/user_1.jpg">-->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="el_new_article">
                <div class="el_new_icon">
                  <span>\NEW/</span>
                </div>
                <div class="el_atricle_item">
                  <div class="el_article_item_img el_article_item_img__large">
                    <img src="../../../public/img/recommend_3.jpg">
                  </div>
                  <div class="bl_article_media">
                    <div class="el_article_item_title">
                      <span>記事のタイトル記事のタイトル記事のタイトル記事の…</span>
                    </div>
                    <div class="el_article_item_detail">
                      <span>記事の詳細記事の詳細記事の詳細記事の詳細記事の詳細記事の詳細記事の詳細記事の詳細記事の詳細記事の詳細記事の詳細記事の詳細記事の詳細記事の詳細記事の詳細記事の詳細記事の詳細記事の詳細記事の詳細記事の詳細記事の詳細記事の詳細記事の詳細記事の詳細…</span>
                    </div>
                    <div class="el_article_item_meta_info">
                      <div class="el_article_item_meta_info_date">
                        <span>2021/01/29</span>
                      </div>
                      <div class="el_article_item_meta_info_user">
                        <div class="el_user_icon_circle el_user_icon_circle__small">
                          <!--<img src="../../../public/img/user_1.jpg">-->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="bl_article">
              <div class="el_menu">
                <div class="el_menu_img el_menu_img_large">
                  <img src="../../../public/img/menu_no_image.jpg">
                  <!-- 豚肉の生姜焼き、ほうれん草の胡麻和え、味噌汁-->
                </div>
                <div class="el_menu_title el_menu_title__large">
                  <span>豚肉の生姜焼き、ほうれん草の胡麻和え、味噌汁</span>
                </div>
              </div>
              <div class="el_menu">
                <div class="el_menu_img el_menu_img_large">
                  <img src="../../../public/img/menu_no_image.jpg">
                  <!-- 豚肉の生姜焼き、ほうれん草の胡麻和え、味噌汁-->
                </div>
                <div class="el_menu_title el_menu_title__large">
                  <span>豚肉の生姜焼き、ほうれん草の胡麻和え、味噌汁</span>
                </div>
              </div>
              <div class="el_menu">
                <div class="el_menu_img el_menu_img_large">
                  <img src="../../../public/img/menu_no_image.jpg">
                  <!-- 豚肉の生姜焼き、ほうれん草の胡麻和え、味噌汁-->
                </div>
                <div class="el_menu_title el_menu_title__large">
                  <span>豚肉の生姜焼き、ほうれん草の胡麻和え、味噌汁</span>
                </div>
              </div>
              <div class="el_menu">
                <div class="el_menu_img el_menu_img_large">
                  <img src="../../../public/img/menu_no_image.jpg">
                  <!-- 豚肉の生姜焼き、ほうれん草の胡麻和え、味噌汁-->
                </div>
                <div class="el_menu_title el_menu_title__large">
                  <span>豚肉の生姜焼き、ほうれん草の胡麻和え、味噌汁</span>
                </div>
              </div>
              <div class="el_menu">
                <div class="el_menu_img el_menu_img_large">
                  <img src="../../../public/img/menu_no_image.jpg">
                  <!-- 豚肉の生姜焼き、ほうれん草の胡麻和え、味噌汁-->
                </div>
                <div class="el_menu_title el_menu_title__large">
                  <span>豚肉の生姜焼き、ほうれん草の胡麻和え、味噌汁</span>
                </div>
              </div>
              <div class="el_menu">
                <div class="el_menu_img el_menu_img_large">
                  <img src="../../../public/img/menu_no_image.jpg">
                  <!-- 豚肉の生姜焼き、ほうれん草の胡麻和え、味噌汁-->
                </div>
                <div class="el_menu_title el_menu_title__large">
                  <span>豚肉の生姜焼き、ほうれん草の胡麻和え、味噌汁</span>
                </div>
              </div>
              <div class="el_menu">
                <div class="el_menu_img el_menu_img_large">
                  <img src="../../../public/img/menu_no_image.jpg">
                  <!-- 豚肉の生姜焼き、ほうれん草の胡麻和え、味噌汁-->
                </div>
                <div class="el_menu_title el_menu_title__large">
                  <span>豚肉の生姜焼き、ほうれん草の胡麻和え、味噌汁</span>
                </div>
              </div>
              <div class="el_menu">
                <div class="el_menu_img el_menu_img_large">
                  <img src="../../../public/img/menu_no_image.jpg">
                  <!-- 豚肉の生姜焼き、ほうれん草の胡麻和え、味噌汁-->
                </div>
                <div class="el_menu_title el_menu_title__large">
                  <span>豚肉の生姜焼き、ほうれん草の胡麻和え、味噌汁</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--
    <section class="new-products">
      <h1>新着出品</h1>
      <div class="container">
        <div class="products-list">
          <ProductContainer v-for="(product, key) in new_products" :key="key" :product="product" :isNew="true" />
        </div>
        <div class="view-more">
          <span>
            <a href="/archive">もっと見る！</a>
          </span>
        </div>
      </div>
    </section>
    <section class="hot-products">
      <h1 class="hot">人気カテゴリ</h1>
      <div class="container">
        <div class="products-list">
          <ProductContainer v-for="(product, key) in hot_products" :key="key" :product="product" :isNew="false" />
        </div>
        <div class="view-more">
          <span>
            <a href="/archive">もっと見る！</a>
          </span>
        </div>
      </div>
    </section>
    <section class="produce">
      <div class="container">
        <h1>あなたも出品してみませんか？</h1>
        <div class="step-container">
          <div class="step one">
            <img src="/public/img/ツールボックスアイコン.png" alt="" />
            <p>作成キットを購入</p>
          </div>
          <div class="step two">
            <img src="/public/img/プレゼントの無料イラスト.png" alt="" />
            <p>ハンドメイドを作成</p>
          </div>
          <div class="step three">
            <img src="
            /public/img/プレゼントの無料アイコン.png" alt="" />
            <p>VA-Rieで出品！</p>
          </div>
        </div>
        <div class="regist-area">
          <button>無料会員登録</button>
        </div>
      </div>
    </section>
    -->
  </main>
  <PageFooter />
  <!--<PageFooter /> -->
</div>