<div class="template-wrapper">
  <PageHeader />
  <News />
  <main class="ly_top">
    <div class="ly_top_inner">
      <div class="ly_recommend_article" v-if="disable_recommend">
        <div class="ly_recommend_article_inner">
          <div class="bl_recommend_article">
            <img :src="recommend.image_path">
          </div>
        </div>
      </div>
      <div class="ly_recent_menu">
        <div class="ly_recent_menu_inner">
          <div class="bl_top_title">
            <span class="el_asterisk">＊</span>
            新着献立
            <span class="el_asterisk">＊</span>
          </div>
          <div class="ly_recent_menu_items">
            <div class="bl_recent_menu">
              <div v-for="menu in menu_new_arrival">
                <MediaCard :menu="menu"></MediaCard>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ly_popular_menu">
        <div class="ly_popular_menu_inner">
          <div class="bl_top_title">
            <span class="el_asterisk">＊</span>
            人気献立
            <span class="el_asterisk">＊</span>
          </div>
          <div class="ly_popular_menu_items">
            <div class="bl_popular_menu">
              <div v-for="menu in menu_popular">
                <MediaCard :menu="menu"></MediaCard>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ly_articles">
        <div class="ly_articles_inner">
          <div class="bl_top_title">
            <span class="el_asterisk">＊</span>
            <span>記事</span>
            <span class="el_asterisk">＊</span>
          </div>
          <div class="ly_article_items">
            <div class="bl_new_article">
              <template v-for="article in article_new_arrival">
                <div class="el_new_article">
                  <div class="el_new_icon">
                    <span>\NEW/</span>
                  </div>
                  <MediaCardLarge :article=article></MediaCardLarge>
                </div>
              </template>
            </div>
            <div class="bl_article">
              <div v-for="article in article_new_arrival_small">
                <MediaCard :menu="article"></MediaCard>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <PageFooter />
</div>