<v-app>
    <PageHeader />
    <News />
    <main>
        <div class="ly_favorite_icon">
            <a href="#" class="btn_favorite_add" @click="add_favorite" v-show="!is_favorite">
                <span class="el_icon_heart"><i class="far fa-heart"></i></span> <span>お気に入り追加</span>
            </a>
            <a href="#" class="btn_favorite_added" @click="add_favorite" v-show="is_favorite">
                <span class="el_icon_heart"><i class="fas fa-heart"></i></span> <span>お気に入り追加済み</span>
            </a>
        </div>
        <div class="ly_post_menu_title">
            <div class="bl_post_menu_title">
                <div class="el_menu_title">
                    <span>献立名</span>
                    <span class="el_menu_title_text">{{ title }}</span>
                </div>
            </div>
            <div class="ly_post_menu_sub_title">
                <div class="ly_post_menu_sub_title_inner">
                    {{ sub_title }}
                </div>
            </div>
        </div>
        <div class="el_food_composition d-block d-md-none">
            <v-data-table :headers="mobile_headers" :items="compositions" :single-expand="singleExpand"
                :expanded.sync="expanded" show-expand class="elevation-1" disable-sort hide-default-footer
                :items-per-page="50" item-key="comp_id">
                <template v-slot:expanded-item="{ headers, item }">
                    <td :colspan="headers.length">
                        <div class="el_compositions_expanded_item"><span>エネルギー</span><span>{{ item.energy }} kcal</span>
                        </div>
                        <div class="el_compositions_expanded_item"><span>たんぱく質</span><span>{{ item.protein }} g</span>
                        </div>
                        <div class="el_compositions_expanded_item"><span>脂質</span><span>{{ item.lipid }} g</span></div>
                        <div class="el_compositions_expanded_item"><span>炭水化物</span><span>{{ item.carbohydrate
                                }} g</span></div>
                        <div class="el_compositions_expanded_item"><span>カルシウム</span><span>{{ item.calcium }} mg</span>
                        </div>
                        <div class="el_compositions_expanded_item"><span>鉄</span><span>{{ item.iron }} mg</span></div>
                        <div class="el_compositions_expanded_item"><span>コレステロール</span><span>{{ item.cholesterol
                                }} mg</span></div>
                        <div class="el_compositions_expanded_item"><span>食物繊維</span><span>{{ item.dietaryFiber
                                }} g</span></div>
                        <div class="el_compositions_expanded_item"><span>食塩相当量</span><span>{{ item.saltEquivalent
                                }} g</span></div>
                    </td>
                </template>
            </v-data-table>
            <div class="bl_foot_composition_total">
                <v-data-table :headers="mobile_total_headers" :items="composition_total" class="elevation-1"
                    disable-sort hide-default-footer hide-default-header :items-per-page="50">
                </v-data-table>
            </div>
        </div>
        <div class="el_food_composition d-none d-md-block">
            <v-data-table :headers="headers" :items="compositions" hide-default-footer :loading="loading"
                loading-text="Loading... Please wait" :items-per-page="50">
                <!-- 使用量ヘッダ -->
                <template v-slot:header.amount="{ header }">
                    <div class="el_food_composition_header">
                        <span>{{ header.text }}</span>
                    </div>
                    <div class="el_food_composition_header_unit">
                        <span>(g)</span>
                    </div>
                </template>
                <!-- 廃棄込み使用量ヘッダ -->
                <template v-slot:header.waste="{ header }">
                    <div class="el_food_composition_header">
                        <span>{{ header.text }}</span>
                    </div>
                    <div class="el_food_composition_header_unit">
                        <span>(g)</span>
                    </div>
                </template>
                <!-- エネルギーヘッダ -->
                <template v-slot:header.energy="{ header }">
                    <div class="el_food_composition_header">
                        <span>{{ header.text }}</span>
                    </div>
                    <div class="el_food_composition_header_unit">
                        <span>(kcal)</span>
                    </div>
                </template>
                <!-- たんぱく質ヘッダ -->
                <template v-slot:header.protein="{ header }">
                    <div class="el_food_composition_header">
                        <span>{{ header.text }}</span>
                    </div>
                    <div class="el_food_composition_header_unit">
                        <span>(g)</span>
                    </div>
                </template>
                <!-- 脂質ヘッダ -->
                <template v-slot:header.lipid="{ header }">
                    <div class="el_food_composition_header">
                        <span>{{ header.text }}</span>
                    </div>
                    <div class="el_food_composition_header_unit">
                        <span>(g)</span>
                    </div>
                </template>
                <!-- 炭水化物ヘッダ -->
                <template v-slot:header.carbohydrate="{ header }">
                    <div class="el_food_composition_header">
                        <span>{{ header.text }}</span>
                    </div>
                    <div class="el_food_composition_header_unit">
                        <span>(g)</span>
                    </div>
                </template>
                <!-- カルシウムヘッダ -->
                <template v-slot:header.calcium="{ header }">
                    <div class="el_food_composition_header">
                        <span>{{ header.text }}</span>
                    </div>
                    <div class="el_food_composition_header_unit">
                        <span>(mg)</span>
                    </div>
                </template>
                <!-- 鉄ヘッダ -->
                <template v-slot:header.iron="{ header }">
                    <div class="el_food_composition_header">
                        <span>{{ header.text }}</span>
                    </div>
                    <div class="el_food_composition_header_unit">
                        <span>(mg)</span>
                    </div>
                </template>
                <!-- コレステロールヘッダ -->
                <template v-slot:header.cholesterol="{ header }">
                    <div class="el_food_composition_header">
                        <span>{{ header.text }}</span>
                    </div>
                    <div class="el_food_composition_header_unit">
                        <span>(mg)</span>
                    </div>
                </template>
                <!-- 食物繊維ヘッダ -->
                <template v-slot:header.dietaryFiber="{ header }">
                    <div class="el_food_composition_header">
                        <span>{{ header.text }}</span>
                    </div>
                    <div class="el_food_composition_header_unit">
                        <span>(g)</span>
                    </div>
                </template>
                <!-- 食塩相当量ヘッダ -->
                <template v-slot:header.saltEquivalent="{ header }">
                    <div class="el_food_composition_header">
                        <span>{{ header.text }}</span>
                    </div>
                    <div class="el_food_composition_header_unit">
                        <span>(g)</span>
                    </div>
                </template>

                <template slot="body.append">
                    <tr>
                        <td class="text-center title">Total</td>
                        <td class="text-center">-</td>
                        <td class="text-center">-</td>
                        <td class="text-center">{{ energy_total }}</td>
                        <td class="text-center">{{ protein_total }}</td>
                        <td class="text-center">{{ lipid_total }}</td>
                        <td class="text-center">{{ carbohydrate_total }}</td>
                        <td class="text-center">{{ calcium_total }}</td>
                        <td class="text-center">{{ iron_total }}</td>
                        <td class="text-center">{{ cholesterol_total }}</td>
                        <td class="text-center">{{ dietaryFiber_total }}</td>
                        <td class="text-center">{{ saltEquivalent_total }}</td>
                    </tr>
                </template>
            </v-data-table>
        </div>
        <div class="ly_post_menu_create_method">
            <div class="bl_post_menu_create_method">
                <div>
                    <span>作り方</span>
                </div>
            </div>
            <div class="bl_post_menu_create_method_input">
                <textarea readonly :value="cookery"></textarea>
            </div>
            <div class="ly_post_menu_img">
                <div class="bl_post_menu_img" v-for="(img, index) in menu_imgs">
                    <v-img v-if="img.uploadImageUrl" :src="img.uploadImageUrl" max-height="150" max-width="250"
                        contain />
                    <div class="bl_post_menu_img_title">
                        {{ img.img_description }}
                    </div>
                </div>
            </div>
        </div>
    </main>
    <PageFooter />
</v-app>