<header class="ly_header">
  <div id="overlay" v-if="select_post_type" @click="close_modal">
    <div id="content" @click="close_modal_cancel($event)">
      <div class="el_post_btn">
        <button onclick="location.href='/post/article'">記事を投稿</button>
      </div>
      <div class="el_post_btn">
        <button onclick="location.href='/post/menu'">献立を投稿</button>
      </div>
    </div>
  </div>
  <div class="ly_header_inner">
    <div class="ly_header_logo">
      <div class="bl_logo">
        <a href="/"><img src="../../../../public/img/logo.png" alt="ロゴ" title="ロゴ"></a>
      </div>
    </div>
    <nav class="ly_nav">
      <div class="ly_nav_icon" v-if="isLogin">
        <div class="el_user_icon">
          <a href="/account"><img src="../../../../public/img/user_1.jpg"></a>
        </div>
      </div>
      <div class="el_login_btn" v-if="!isLogin">
        <a href="/login" class="btn-gradient-radius">Log in</a>
      </div>
      <div class="ly_nav_items">
        <div class="bl_nav_item" @click="post_menu_or_article">
          <div class="el_nav">
            <span class="el_nav_icon el_icon_plus_square">
              <i class="far fa-plus-square"></i>
            </span>
          </div>
          <div class="el_nav_icon_name">
            <span>投稿</span>
          </div>
        </div>
        <div class="bl_nav_item">
          <a href="/" class="el_link_btn">
            <div class="el_nav">
              <span class="el_nav_icon el_icon_home">
                <i class="fas fa-home"></i>
              </span>
            </div>
            <div class="el_nav_icon_name">
              <span>ホーム</span>
            </div>
          </a>
        </div>
        <div class="bl_nav_item">
          <a href="/menu/list" class="el_link_btn">
            <div class="el_nav">
              <span class="el_nav_icon el_icon_utensils">
                <i class="fas fa-utensils"></i>
              </span>
            </div>
            <div class="el_nav_icon_name">
              <span>献立</span>
            </div>
          </a>
        </div>
        <div class="bl_nav_item">
          <a href="/article/list" class="el_link_btn">
            <div class="el_nav">
              <span class="el_nav_icon el_icon_newspaper">
                <i class="far fa-newspaper"></i>
              </span>
            </div>
            <div class="el_nav_icon_name">
              <span>記事</span>
            </div>
          </a>
        </div>
        <div class="bl_nav_item">
          <a href="/question" class="el_link_btn">
            <div class="el_nav">
              <span class="el_nav_icon el_icon_question_circle">
                <i class="far fa-question-circle"></i>
              </span>
            </div>
            <div class="el_nav_icon_name">
              <span>質問</span>
            </div>
          </a>
        </div>
      </div>
    </nav>
  </div>
</header>