.ly_about_title {
    display: flex;
    justify-content: center;

    padding-top: 50px;
}

.bl_about_title {
    font-size: 30px;
}

.ly_about_detail {
    display: flex;
    justify-content: center;

    padding-top: 30px;
}

.bl_about_detail {
    
}