body {
    font-family: #{$base-font-family} !important;
    font-style: #{$base-font-style};
    font-weight: 900;
    background-color: #{$background-color};

    height: 100%;
}

img {
    width: 100%;
}

main {
    min-height: 100vh;
}

input[type="text"], input[type="password"] {
    padding: 0 10px;
    outline: none;

    background-color: #FFF;
}

textarea {
    padding: 3px 10px;
    outline: none;

    background-color: #FFF;
}

.display_none {
    display: none;
}

