:root {
    --ggs: #{$ggs};
}

.el_icon_user {
    width: 30px;
    height: 32px;
}

.el_icon_exclamation_triangle {
    width: 37px;
    height: 32px;

    .cls-2 {
        fill: #ffde00;
        stroke: #000;
        stroke-width: 10px;
    }
}

.el_icon_thumbs_up {
    width: 35px;
    height: 38px;
}

.el_icon_plus_square {
    color: #00479d;
}

.el_icon_home {
    color: #ff0000;
}

.el_icon_utensils {
    color: #f18d00;
}

.el_icon_newspaper {
    color: #000;
}

.el_icon_question_circle {
    color: #009854;
}

.el_icon_info_circle {
    color: #f00;
}

.el_icon_crown {
    color: #FCDB04;
}

.el_icon_edit {
    color: #000;
}

.el_icon_question {
    color: #000;
}

.el_nav_icon {
    font-size: 35px;
    line-height: 0;
}

.el_asterisk {
    color: #00afcc;
    font-size: 30px;
    font-weight: 30px;
}

.btn_stripe {
    @include reset-button;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    padding: 16px 36px 22px;
    background-color: $btn-background;
    color: $btn-color;
    border: 2px solid $border-color;
    border-radius: 6px;
    margin-bottom: 16px;
    transition: all .5s ease;
    
    &--stripe {
        overflow: hidden;
        position: relative;
        
        &:after {
            background-repeat: repeat;
            content: '';
            display: block;
            height: $stripe-height;
            width: 100%;
            background-image: repeating-linear-gradient(
                45deg,
                $border-color,
                $border-color 1px,
                transparent 2px,
                transparent 5px
            );
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            border-top: 1px solid $border-color;
            position: absolute;
            left: 0;
            bottom: 0;
            background-size: $stripe-height $stripe-height;
        }

        &:hover {
            background-color: $btn-background-hover;
            color: $btn-color-hover;
            border-color: $border-color-hover;

            &:after {
                background-image: repeating-linear-gradient(
                    45deg,
                    $btn-color-hover,
                    $btn-color-hover 1px,
                    transparent 2px,
                    transparent 5px
                );
                border-top: 1px solid $border-color-hover;
                animation: stripe-slide 12s infinite linear forwards;
            }
        }
    }
    
    &--large {
        width: 50%;
    }
    
    &--radius {
        border-radius: 36px;
    }
}

.pagination__wrapper {
    width: 100%;
    margin: auto;
}
.pagination {
    width: 100%;

    display: flex;
    justify-content: center;
}
.pagination ul {
    max-width: 260px;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    flex-wrap: wrap;
    border-radius: 3px;
}
.pagination li {
    overflow: hidden;
    margin: 4px;
    padding: 0;
}
.pagination a,
.pagination .pagenation-current {
    display: flex;
    width: 40px;
    height: 40px;
    margin: 0 3px 0 0;
    border-radius: 50%;
    text-decoration: none;
    color: #666;
    border: 2px solid #fff;

    justify-content: center;
    align-items: center;
}
.pagination a:hover {
    display: flex;
    width: 40px;
    height: 40px;
    margin: 0 3px 0 0;
    border-radius: 50%;
    text-decoration: none;
    color: #fff;
    background: #999;
    border: 2px solid #999;

    justify-content: center;
    align-items: center;
}
.pagination .pagenation-current {
    color: #f96da5;
    cursor: default;
    margin: 0 3px 0 0;
    border: 2px solid #f96da5;
}
.page-numbers {
    width: auto;
    padding: 0;
    background: transparent;
}

#overlay {
    /*　要素を重ねた時の順番　*/
    z-index: 1;

    /*　画面全体を覆う設定　*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);

    /*　画面の中央に要素を表示させる設定　*/
    display: flex;
    align-items: center;
    justify-content: center;
}

#content {
    z-index: 2;
    width: 50%;
    padding: 1em;
    background: #fff;

    display: flex;
    flex-direction: column;
}

.el_flex_around {
    display: flex;
    justify-content: space-around;
}

.el_food_composition_header {
    span {
        -ms-writing-mode: tb-rl;
        -webkit-writing-mode: vertical-rl;
        writing-mode: vertical-rl;
        height: 100px !important;
    }
}

.el_food_composition_header_unit {
    padding: 5px 0;
}

.el_food_composition {
    padding: 0 10px;
}

.bl_foot_composition_total {
    padding-top: 20px;
}

.bl_btn__center {
    display: flex;
    justify-content: center;
}

.el_add_btn {
    cursor: pointer;
    width: 300px;
    height: 56px;
    color: #afafaf;
    font-size: 30px;
}

.ly_post_menu_title {
    padding-top: 20px;
}

.bl_post_menu_title {
    display: flex;
    justify-content: center;
}

.el_menu_title {
    font-size: 20px;
    text-align: center;

    input {
        border: 1px solid #{$color-gray};
        border-radius: 9px;
        width: 90vw;
        max-width: 500px;
        font-size: 15px;
        height: 30px;
    }

    .el_menu_title_text {
        padding-left: 20px;
        font-weight: 900;
    }
}

.el_menu_status_posted {    
    display: flex;
    justify-content: center;

    color: #FFF;
    background-color: $color-success;
}

.el_menu_status_edit {    
    display: flex;
    justify-content: center;

    color: #FFF;
    background-color: $color-sutatus;
}

.ly_post_menu_create_method {
    padding-top: 20px;
}

.bl_post_menu_create_method {
    font-size: 20px;
    display: flex;
    justify-content: center;
    //flex-direction: column;
}

.bl_post_menu_create_method_input {
    display: flex;
    justify-content: center;

    textarea {
        height: 600px;
        max-width: 600px;
        width: 100%;
        border: 1px solid #{$color-gray};
    }
}

.ly_post_menu_btn {
    padding-top: 20px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
}

.bl_post_menu_btn {
    width: 600px;

    display: flex;
    justify-content: space-around;
}

.bl_post_btn {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    //width: 100px;

    a {
        text-decoration: none;
    }
}

.el_post_btn {
    width: 100%;
    width: 158px;
    display: flex;
    justify-content: center;

    border-radius: 9px;

    cursor: pointer;

    .el_post_btn_name {
        font-size: 25px;
        font-weight: 30px;
    }
}

.btn {
    box-sizing: border-box;
    box-shadow: none;
    border: none;
    font-size: 1.5em;
    padding: 5px 20px;
    letter-spacing: 5px;
    color: white;
    border: solid 4px transparent;
    color: transparent;
    // text-fill-color: transparent
}

.btn__success {
    border-image: $gradient-success;
    border-image-slice: 1;
    background: $gradient-success;
    -webkit-background-clip: text;
    background-clip: text;
}

.btn__status {
    border-image: $gradient-status;
    border-image-slice: 1;
    background: $gradient-status;
    -webkit-background-clip: text;
    background-clip: text;
}

.btn__error {
    border-image: $gradient-error;
    border-image-slice: 1;
    background: $gradient-error;
    -webkit-background-clip: text;
    background-clip: text;
}

.ly_post_menu_img {
    padding-top: 20px;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.bl_post_menu_img {
    width: 250px;
}

.bl_post_menu_add_img {
    width: 250px;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    span {
        font-size: 2em;
    }
}

.bl_post_menu_img_title {
    padding-left: 33px;

    input[type="text"] {
        border: 1px solid #{$color-gray};
    }
}

.ly_post_article_title,
.ly_post_article {
    padding-top: 20px;

    font-family: "Noto Serif JP", sans-serif !important;
    font-style: normal;
    font-weight: 400;
}

.bl_post_article {
    max-width: #{$article-width};
    margin: 0 auto;
}

.bl_post_article,
.ql-toolbar {
    background-color: #fff;
}

.bl_post_article_title {
    display: flex;
    justify-content: center;

    input[type="text"] {
        background-color: #fff;
        height: 56px;
        width: 100%;
        max-width: #{$article-width};
        border: 1px solid rgba(201, 201, 204, 0.48);
        -webkit-box-shadow: inset 0 1px 2px 0 rgb(35 44 72 / 6%);
        box-shadow: inset 0 1px 2px 0 rgb(35 44 72 / 6%);
        border-radius: 3px;
        padding: 10px 12px;
    }
}

.ql-font-ms-mincho {
    font-family: "MS Mincho", sans-serif;
}

.ql-font-meiryo {
    font-family: "Meiryo", sans-serif;
}

.ql-font-yu-gothic {
    font-family: "Yu Gothic", sans-serif;
}

#editor {
    font-family: "MS Mincho", sans-serif;

    img {
        width: auto;
    }
}

.ly_article_view {
    margin-top: 20px;
}

.bl_article_view_title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bl_article_view_title__inner {
    background-color: #fff;
    min-height: 56px;
    width: 100%;
    max-width: #{$article-width};

    display: flex;
    align-items: center;
    justify-content: center;

    span {
        padding: 10px 10px;
        font-size: 20px;
    }
}

.ly_article_contents,
.ly_article_info {
    display: flex;
    justify-content: center;
}

.bl_article_contents,
.bl_article_posted_user,
.bl_question_posted_user {
    background-color: #fff;
    margin-top: 20px;
    width: 100%;

    .ql-container {
        border: unset;
    }
}

.bl_article_contents_width,
.bl_article_posted_user_width {
    max-width: #{$article-width};
}

.bl_article_posted_user {
    padding: 32px;

    display: flex;
}

.bl_question_posted_user {
    padding: 32px 32px 16px 32px;

    display: flex;
}

.bl_user_icon {
    margin-right: 16px;
}

.bl_user_info {
    margin: auto 0;
}

.bl_user_info_name {
    font-size: 14px;
}

// フォローボタン
.el_follow_btn {
    padding-top: 5px;
    font-size: 12px;
}

.btn-flat-double-border {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    color: #67c5ff;
    border: double 4px #67c5ff;
    border-radius: 3px;
    transition: 0.4s;
}
.btn-flat-double-border:hover {
    background: #fffbef;
}

.el_compositions_expanded_item {

    display: flex;
    justify-content: space-between;

    border-bottom: 1px solid #{$color-light-gray};
}

// 質問詳細
.cp_box *, .cp_box *:before, .cp_box *:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.cp_box {
	position: relative;
    margin-top: 20px;

    background-color: #FFF;

    label {
        margin: 0;
    }
}
.cp_box label {
	position: absolute;
	z-index: 1;
	bottom: 0;
	width: 100%;
	height: 140px; /* グラデーションの高さ */
	cursor: pointer;
	text-align: center;
	/* 以下グラデーションは背景を自身のサイトに合わせて設定してください */
	background: linear-gradient(to bottom, rgba(250, 252, 252, 0) 0%, rgba(250, 252, 252, 0.95) 90%);
}
.cp_box input:checked + label {
	background: inherit; /* 開いた時にグラデーションを消す */
}
.cp_box label:after {
	line-height: 2.5rem;
	position: absolute;
	z-index: 2;
	bottom: 20px;
	left: 50%;
	width: 16rem;
	font-family: "Font Awesome 5 Free";
	content: '\f13a'' 続きをよむ';
	transform: translate(-50%, 0);
	letter-spacing: 0.05em;
	color: #ffffff;
	border-radius: 20px;
	background-color: rgba(27, 37, 56, 1);
}
.cp_box input {
	display: none;
}
.cp_box .cp_container {
	overflow: hidden;
	height: 250px; /* 開く前に見えている部分の高さ */
	transition: all 0.5s;
    padding: 20px;
}
.cp_box input:checked + label {
	display: none ; //閉じるボタンを消す場合解放 */
}
.cp_box input:checked + label:after {
	font-family: "Font Awesome 5 Free";
	content: '\f139'' 閉じる';
}
.cp_box input:checked ~ .cp_container {
	height: auto;
	padding-bottom: 20px; /* 閉じるボタンのbottomからの位置 */
	transition: all 0.5s;
}

.bl_post_question_img {
    max-width: 300px;
    padding-left: 30px;
}

.bl_post_question_btn {
    width: 100%;

    display: flex;
    justify-content: center;
}