.bl_logo__medium {
    max-width: 289px;
}

.ly_title {
    padding-top: 30px;
    display: flex;
    justify-content: center;
}

.bl_title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bl_title__create_account {
    max-width: 320px;
}

.el_title {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 28px;
    font-weight: 66px;
}