.ly_message {
    padding-top: 24px;
    display: flex;
    justify-content: center;
}

.el_message {
    padding-left: 20px;
    font-size: 23px;
    font-weight: 29px;
    vertical-align: text-bottom;
}