.ly_header_logo {
    max-width: 82px;
}

.ly_nav {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}

.ly_nav_items {
    width: 100%;
    max-width: 350px;
    display: flex;
    justify-content: space-between;
}

.bl_nav_item {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.el_nav {
    width: 100%;
    display: flex;
    justify-content: center;
}
.el_nav_item {
    width: 100%;

}

.el_nav_icon_name {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 12px;
    font-weight: 18px;
}

.ly_nav_icon {
    width: 100%;
    max-width: 53px;
    max-height: 53px
}

.el_user_icon {
    position:relative;
    overflow: hidden;
    width:100%;
    height: 100%;
    border-radius:50%;

    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        height:100%;
        width: unset;
    }
}

.el_link_btn,
.el_link_btn:hover,
.el_link_btn:link,
.el_link_btn:visited,
.el_link_btn:active {
    color: black;
    text-decoration: none;
}

.el_post_btn {
    width: 100%;
    padding: 10px;

    button {
        width: 100%;
        border: 1px solid #d6d5d5;
        height: 50px;
    }
}