// 全体部分
.ly_main {
    width: 100%;

    display: flex;
    justify-content: center;

    padding-bottom: 40px;
}

.ly_main_inner {
    width: 100%;
    max-width: #{$container-width};
    padding-right: #{$container-padding};
    padding-left: #{$container-padding};
}

.ly_header {
    width: 100%;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
    padding: 5px 0px;
}

.ly_header_inner {
    width: 100%;
    max-width: #{$container-width};
    display: flex;
    justify-content: space-between;
}