.ly_news {
    width: 100%;

    display: flex;
    justify-content: center;

    background-color: #FFF;

    box-shadow: 0px 3px 6px #00000029;
}

.ly_news_inner {
    width: 100%;
    max-width: #{$container-width};
    padding-right: #{$container-padding};
    padding-left: #{$container-padding};
    padding-top: 5px;
    padding-bottom: 5px;
}

.bl_news {
    line-height: 1.5em;;
}

.el_news_message {
    color: #F00;
    font-size: $default-font-size;
    font-weight: 400;
    line-height: 2;
}

/*
.news-item {
    color: #f00;
    font-size: #{$news-font-size}
}

.info-icon {
    font-size: 0.75rem;
    position:relative;
    top: 3px;
    left: 95%;
}
*/