@import 'variable';

html {
    main.product {
        background-color: rgb(245,245,245);
        min-height: 100vh;
        padding-bottom: 50px;
        section {
            padding-top: 0px;
            .container {
                background-color: #fff;
                padding-left: 1vw;
                padding-right: 1vw;
            }
            h1 {
                letter-spacing: 1.5px;
                color: #555;
            }
            h1::before {
                content: unset;
            }
            .info-container {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                margin-bottom: 30px;
                .image-wrapper {
                    width: 400px;
                    min-width: 300px;
                    overflow: hidden;
                    img {
                        width: 100%;
                        object-fit: contain;
                    }
                }
                .product-info {
                    width: 400px;
                    min-width: 300px;
                    p.price {
                        font-size: 4.4rem;
                        line-height: 2;
                    }
                    button {
                        width: 100%;
                        padding: 10px 0px;
                        letter-spacing: 2px;
                    }
                    .info-list {
                        margin-top: 30px;
                        ul {
                            li {
                                border-bottom: 1px solid #eee;
                                line-height: 4;
                                span {
                                    font-size: 1.6rem;
                                    color: #666;
                                    font-weight: 300;
                                }
                                span.label {
                                    display: inline-block;
                                    font-weight: 500;
                                    min-width: 100px;
                                }
                                ul {
                                    display: flex;
                                    flex-wrap: wrap;
                                    justify-content: center;
                                    align-items: center;
                                    li {
                                        padding: 0px 10px;
                                        border-bottom-width: 0px;
                                        line-height: 0;
                                        a {
                                            display: inline-block;
                                            height: 50px;
                                            width: 50px;
                                            margin-top: 10px;
                                            margin-bottom: 10px;
                                            overflow: hidden;
                                            img {
                                                height: 100%;
                                                object-fit: contain;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .product-description {
                p {
                    font-size: 1.4rem;
                    font-weight: 300;
                    line-height: 2;
                }
            }
       }
       section.other-list, section.category-list,
       section.comment {
            margin-top: 50px;
            padding-bottom: 0px;
            h1 {
                padding-top: 25px;
                padding-bottom: 25px;
                font-size: $h2-font-size;
            }
            .container {
                padding-left: 0px;
                padding-right: 0px;
            }
        }
        section.comment {
            .container {
                padding-bottom: 10px;
                .comment-log {
                    width: 90%;
                    margin: 0px auto;
                    background: #7da4cd;
                    padding: 10px;
                    li {
                        display: flex;
                        position: relative;
                        padding-bottom: 10px;
                        .comment-container {
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: space-between;
                            align-items: center;
                            width: max-content;
                            padding: 20px;
                            border: 1px solid #eee;
                            border-radius: 5px;
                            .image-wrapper {
                                width: 50px;
                                height: 50px;
                                border-radius: 50%;
                                border: 1px solid #eee;
                                background-color: #666;
                            }
                            p {
                                font-size: 1.4rem;
                            }
                            .comment-info {
                                width: 100%;
                                text-align: right;
                            }
                        }
                    }
                    li.seller {
                        justify-content: flex-end;
                        .comment-container {
                            background: #30e852;
                        }
                    }
                    li.questioner {
                        justify-content: flex-start;
                        .comment-container {
                            background: #edf1ee;
                        }
                    }
                }
                details {
                    width: 90%;
                    margin: 0px auto;
                    summary {
                        font-size: 2rem;
                        font-weight: 300;
                        color: #7da4cd;
                        cursor: pointer;
                    }
                    .comment-regist-area {
                        textarea {
                            display: block;
                            width: 100%;
                            margin-bottom: 10px;
                        }
                        button {
                            display: block;
                            margin: 0px auto;
                        }
                        p.attention {
                            color: red;
                            font-size: 1.2rem;
                            margin: 10px 0px;
                        }
                    }
                }
            }
        }
    }
}