main.ly_top {
    width: 100%;
    padding-bottom: 40px;
    .slick-slider {
        .el_menu {
            position: relative;
            margin: 1%;
            box-shadow: 0px 3px 6px #00000091;
            .el_menu_title {
                position: absolute;
                left: 0;
                bottom: 0;
                padding: 10px;
                font-weight: 400;
                width: 100%;
                background-color: rgba(0, 0, 0, 0.315);
                margin: 0px;
                overflow: hidden;
                height: 55px;
                span {
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;
                    text-align: left;
                    color: #fff;
                    width: 100%;
                    height: 100%;
                }
            }   
        }
    }

    section {
        width: 100%;
        max-width: #{$container-width};
        padding-right: #{$container-padding};
        padding-left: #{$container-padding};
        margin: 0px auto;
        background-color: #fff;
        h1 {
            width: 100%;
            text-align: left;
            font-size: $h1-font-size;
            font-weight: 500;
            letter-spacing: 1px;
            padding-bottom: 5px;
            border-bottom: 1px solid #eaeaea;
            span {
                color: #00afcc;
                font-size: 16px;
                font-weight: 30px;
            }
        }
        .container {
            width: 100%;
            padding-top: 25px;
            .flex-card-area {
                padding-bottom: 20px;
                display: flex;
                justify-content: flex-start;
                flex-wrap: wrap;
                width: 100%;
                div {
                    width: 23%;
                    margin: 1%;
                    div.el_menu {
                        position: relative;
                        width: 100%;
                        box-shadow: 0px 3px 6px #00000091;
                        cursor: pointer;
                        background-color: #fff;
                        .el_menu_img {
                            margin: 0px;
                            width: 100%;
                            height: 229px;
                            overflow: hidden;
                            img {
                                height: 100%;
                                object-fit: cover;
                                transition: .5s;
                            }
                        }
                        .el_menu_img__large {
//                            height: 229px;
//                            width: 224px;
                        }
                        .el_menu_img__small {
//                           height: 200px;
//                            width: 200px;
                        }
                        &:hover {
                            img {
                                transform: scale(1.2);
                            }
                        }
                    }
                    .el_menu_title {
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        padding: 10px;
                        font-weight: 400;
                        width: 100%;
                        background-color: rgba(0, 0, 0, 0.315);
                        margin: 0px;
                        overflow: hidden;
                        height: 55px;
                        span {
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            -webkit-line-clamp: 2;
                            text-align: left;
                            color: #fff;
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
        }
    }

    section.ly_recommend_article {
        width: 100%;
        max-width: 100%;
        .ly_recommend_article_inner {
            width: 100%;
            .bl_recommend_article {
                position: relative;
                width: 100%;
                height: 215px;
                overflow: hidden;
                cursor: pointer;
                img.eyecatch  {
                    position: relative;
                    top: -230%;
                    filter: blur(2px) brightness(0.5);
                }
                img.logo {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    left: 0;
                    margin: auto;
                    z-index: 99;
                    filter: blur(0);
                    height: 125px;
                    width: max-content;
                }
            }
        }
    }
    section.ly_recent_menu {
    }
    section.ly_popular_menu {

    }
    section.ly_articles {
        .bl_new_article,
        .bl_article {
            width: 100%;
            display: flex;
            flex-direction: column;
            box-shadow: 0px 3px 6px #00000091;
            .el_new_article {
                height: 150px;
                width: 100%;
                display: flex;
                border-bottom: 1px solid #eaeaea;
                .el_atricle_item {
                    display: flex;
                    width: 100%;
                    background-color: #fff;
                    cursor: pointer;
                    .el_article_item_img {
                        height: 100%;
                        overflow: hidden;
                        padding: 0px;
                        img {
                            height: 100%;
                            object-fit: cover;
                            margin: 0px;
                            transition: .5s;
                        }
                    }
                }
                &:hover {
                    img {
                        transform: scale(1.2);
                    }
                }
            }
        }
        .bl_new_article {
            .el_new_article {
                position: relative;
                &:before {
                    content: 'NEW';
                    position: absolute;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    left: 0px;
                    top: 0px;
                    color: #fff;
                    font-size: $default-font-size;
                    font-weight: 700;
                    background-color: #fa808d;
                    width: 50px;
                    height: max-content;
                    padding: 2.5px 10px;
                    z-index: 99;
                }
            }
        }
    }
}


.el_atricle_item__small {
    max-width: 430px;
}


.el_article_item_img__large {
    max-width: 267px;
    height: 230px;
}

.el_article_item_img__small {
    max-width: 130px;
    height: 120px;
}

.bl_article_media {
    width: 100%;
    padding: 20px;

    display: flex;
    flex-direction: column;
}

.el_article_item_title {
    font-size: 24px;
    font-weight: 30px;
}

.el_article_item_title__small {
    font-size: 15px;
    font-weight: 30px;
}

.el_article_item_detail {
    padding-top: 15px;
    font-size: 15px;
    font-weight: 24px;
}

.el_article_item_meta_info {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.el_article_item_meta_info_date__small {
    font-size: 12px;
    font-weight: 18px;
}

.el_article_item_meta_info_user {
    display: flex;
    align-items: flex-end;
}

.el_article_status_posted,
.el_article_status_edit {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 24px;
    height: 100%;

    span {
        -ms-writing-mode: tb-rl;
        -webkit-writing-mode: vertical-rl;
        writing-mode: vertical-rl;
    }
}

.el_article_status_posted {
    color: #fff;
    background-color: $color-success;
}

.el_article_status_edit {
    color: #fff;
    background-color: $color-sutatus;
}

.el_user_icon_circle {
    //background-image: url("./public/img/user_1.jpg");  /* 表示する画像 */
    border-radius: 50%; /* 角丸半径を50%にする(=円形にする) */
    background-position: left top; /* 横長画像の左上を基準に表示 */
    display: inline-block; /* 複数の画像を横に並べたい場合 */
    background-position: center;
    background-size: cover;
}

.el_user_icon_circle__small {
    width: 50px; /* ※縦横を同値に */
    height: 50px; /* ※縦横を同値に */
}

.el_user_icon_circle__medium {
    width: 70px; /* ※縦横を同値に */
    height: 70px; /* ※縦横を同値に */
}

.el_user_icon_circle__large {
    width: 200px;
    height: 200px;
}
