
/*
font-family: tbudrgothic-std, sans-serif;

font-weight: 900;

font-style: normal;
*/
// ベース
$base-font-family: tbudrgothic-std, sans-serif;
$base-font-style: nornal;
$background-color: #f6f6f4;//#f8f8f8;//#EFEFEF;

// レイアウト
$container-size: 1020px;
$container-padding: 5px;

$container-width: $container-size + ($container-padding * 2);

$footer-size: 750px;
$footer-width: $footer-size + ($container-padding * 2);

// 記事投稿部分の幅
$article-width: 750px;


// カラー
$color-gray: #666;
$color-light-gray: #b6b6b6;
$color-black: #000;
$color-success: lighten(#009854, 5%);
$color-sutatus: lighten(#9ca3f5, 5%);
$color-error: lighten(#ff0000, 5%);
$color-white: #FFF;

// グラデーション
$gradient-success: linear-gradient(45deg, #92e001, #548100);
$gradient-status: linear-gradient(45deg, #9ca3f5, #9ca3f5);
$gradient-error: linear-gradient(45deg, #f78b95, #f78b95);

// ボタン
$stripe-height: 7px;
$btn-color: $color-gray;
$btn-background: #fff;
$btn-color-hover: #fff;
$btn-background-hover: $color-gray;
$border-color: $color-gray;
$border-color-hover: $color-black;


// 一旦退避
$google-font: 'Noto Sans JP', sans-serif;

$h1-font-size:2.8rem;
$h2-font-size:2.2rem;
$h1-font-size-mobile:2rem;

// css.ggのサイズ
$ggs: 0.5;

// ヘッダの高さ
$header-height: 56;

// newsのフォントサイズ
$news-font-size: 0.75rem;

// サイトのイメージカラー
$site-color: #ffdaeb;

// ナビゲーションバーの角丸サイズ
$nav-radius-size: 15px;


// EisukeTanaka's variable
$unique-font: '';
$default-font:'Zen Kaku Gothic Antique', sans-serif;
$default-color: #333;
$h1-font-size: 24px;
$large-font-size: 28px;
$default-font-size: 14px;
$small-font-size: 12px;

$theme-color: '';
$theme-color-sub:'';
