// リセットCSSだけ使用
@import './bootstrap/bootstrap';

// アイコンのCSS
@import '../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss';

// サイト固有の変数とmixin
@import './variable';
@import './mixins';

// サイト固有のSASSコンポーネント
@import './common';
@import './base';
@import './layout';
@import './login';
@import './create_account';
@import './create_account_pre_done';
@import './create_account_done';
@import './header';
@import './news';
@import './top';
@import './footer';
@import './account';
@import './question';